/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/09/2015, 11:42:37
    Author     : carlos.bruno
*/

/* CORES */
 
.but-success {
color: #fff;
background-color: #009835;
font-size: 265%;
}
 
.but:hover {
background-image: linear-gradient(to bottom, transparent, rgba(f,f,f,.15));
cursor: pointer;
}

/* EFEITOS */
 
.but-shadow {
box-shadow: 300px 300px 300px #999;
}
 
.but-rc {
border-radius: 300px;
}


 