/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/07/2016, 07:49:10
    Author     : CARLOS
*/

.middle{
    //display: table-cell;
   // vertical-align: middle;
    //margin-left: -40px;
    
}
#cronometro{
    height:  auto;
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
    //border: 1px solid blue;
    text-align: left;
    margin-left: 100px;
    width: 56%;
    color: #346347;
}
#dia{
    height:  auto;
    font-size: 30px;
    font-weight: bold;
    //margin-top: 20px;
    //border: 1px solid blue;
    text-align: left;
    margin-left: 08px;
   // border: 1px solid green ;
  
   inline-box-align: inherit
    
}

#hora{
    height:  auto;
    font-size: 30px;
    font-weight: bold;
    margin-top: -45px;
   // border: 1px solid blue;
    text-align: left;
    margin-left: 55px;
   // border: 1px solid green ;
    
}



#minuto{
    height:  auto;
    font-size: 30px;
    font-weight: bold;
    margin-top: -42px;
   // border: 1px solid blue;
    text-align: left;
    margin-left: 100px;
   // border: 1px solid green ;
    
}

#segundo{
    height:  auto;
    font-size: 30px;
    font-weight: bold;
    margin-top: -42px;
   // border: 1px solid blue;
    text-align: left;
    margin-left: 150px;
   // border: 1px solid green ;
    
}


.contagem{
    float: right;
    margin-right: 55px;
    position: relative;
    margin-top: -65px;
    width: 30%;
    height: 60px;
    background: url('../img/time.png') no-repeat center center;
    //text-align: center;  
    background-size: 95%;
    //border: 1px solid green;
    
}


.ona{
    
    
    float: right;
    position:absolute;
}
.ona3{
    width: 103%;
    margin-left: -17px;
    margin-top: -50px;
    
    background-image: linear-gradient(to right, #FDF7D5, #F7E6A0);
}