/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/05/2015, 10:31:08
    Author     : carlos.bruno
*/

thead{
     display: table-header-group;
     vertical-align: middle;
     border-color: inherit;
     color: blue;
     

}

#titulo{
    font-weight: bold;
    font-family: "Arial";
    background: activecaption;
    text-align: center;
    
    
}
table{
    font-family: "Arial";
}
body{
    background: grey;
}

#centro{
    /*
    position: absolute;
    top: 50%;
    left: 50%;
    
    margin-left: -550px;
    margin-top: -310px;
    */
    margin-left: 300px;
    margin-top: 100px;
    width: 1000px;
    height: 100%;
    background: #ffffff;
    position: absolute;
    z-index: 101;
    
}
#conteudo{
    position: absolute;
    margin-top: 70px;
    margin-left: 120px;
        
    
}
#esquerdo{
    margin-top: -100px;
    float: left;
    background: black;
    width: 120%;
    height: 120%;
    z-index: 99; 
    text-align: center;
    position: absolute;
    color: white;
    z-index: 98;
    
    
}
#direito{
    margin-top: -100px;
    margin-right: 150px;
    float: right;
    background: black;
    width: 18%;
    height: 120%;
    position: absolute;
    z-index: 103; 
    
}
#menu{
    
    margin-top: 200px;
    margin-left: 10px;
    width: 17%;
    color: white;
    position: absolute;
    font-size: 15px;
    text-align: left;
    //background: #ffffff;
    z-index: 250;
    
}
a{
 //   color: #55d72e;
    color: white;
    font-family: "Tahoma";
    text-decoration: none;
    
    
}
a:hover{
    height: 15px;
    background: #55d72e;
}
